@use '../base.scss' as *;
@include b(Home) {
    .tab-line{
        padding-bottom: 2px;
    }
  .home-tab-item {
    // background-color: red;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    // padding-top: 2px;
    // padding-bottom: 2px;
    .home-tab-item-label {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
