/* src/assets/tailwind.css */

/* @import 'tailwindcss'; */
/* these are necessary styles for vue flow */
@import '@vue-flow/core/dist/style.css';

/* this contains the default theme, these are optional styles */
@import '@vue-flow/core/dist/theme-default.css';
@keyframes slowFade {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
  }
  
  .slow-fade {
    animation: slowFade 3s ease-in-out;
  }
.list {
    border: 2px dashed #ccc;
    padding: 10px;
    border-radius: 8px;
}

.list-item {
    padding: 10px;
    margin: 5px 0;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: grab;
}
.no-select {
    user-select: none; /* 适用于大多数现代浏览器 */
    -webkit-user-select: none; /* 适用于 Webkit (Chrome, Safari) */
    -moz-user-select: none; /* 适用于 Firefox */
    -ms-user-select: none; /* 适用于旧版 IE/Edge */
  }
  body{
    user-select: none; /* 适用于大多数现代浏览器 */
    -webkit-user-select: none; /* 适用于 Webkit (Chrome, Safari) */
    -moz-user-select: none; /* 适用于 Firefox */
    -ms-user-select: none; /* 适用于旧版 IE/Edge */
  }
  .slow-appear {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    transition-delay: 1s; /* 1 秒后才开始动画 */
  }
  
  .slow-appear.show {
    opacity: 1;
  }


  .move {
    transition: transform 0.5s ease-in-out;
  }
  :focus-visible {
    outline: none !important;
}
.btnGClass{
  top: inherit            !important; 
}
ul, ol {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.is-disabled {
  pointer-events: none !important;
  opacity: 0.5;
  cursor: not-allowed !important;
}

.formEditor .el-main{
  padding: 0px   !important;
}
.el-main{
  --el-main-padding: 0px !important;
}
.ER-element{
  height: 100%;
}
.h-full{
  height: 100%;
}
.el-form-item{
  /* height: 100%; */
}
li::marker {
  display: none !important;
}
li {
  list-style-type: none;
}

.flex{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-end{
  justify-content: flex-end;
}
.justify-start{
  justify-content: flex-start;
}
.align-center{
  align-items: center;
}
.align-end{
  align-items: flex-end;
}
.align-start{
  align-items: flex-start;
}
.w-full{
  width: 100%;
}

.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}

.bg-red{
  background-color: red;
}
.bg-white{
  background-color: #fff;
}

.overflow-hidden{
  overflow: hidden;
}

.Everright-formEditor-selectElement__mask{
  /* display: none !important; */
}

.Everright-formEditor-Canves__wrap{
  /* display: grid; */
}
.el-row{
  flex:1
}
.ER-element{
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}

.border-1{
  border: 1px solid ;
}
.border-red{
  border-width: 1px;
  border:'solid';
  border-color: red;
}
.pointer{
  cursor: pointer;
}
.overflow-x-hidden{
  overflow-x: hidden;
}
.overflow-y-hidden{
  overflow-y: hidden;
}
.el-tabs__header{
  padding: 0 !important;
}
.el-tabs__header{
  margin: 0px    !important;
}
.el-tabs{
  --el-tabs-header-height:30px;
}

.vxe-form--item-content{
  padding-top: 0px !important;
   padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 20px !important;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.vxe-form--item-title{
  height: 30px !important;
  padding-bottom: 20px !important;
  padding-top: 0px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.vxe-form--wrapper{
  display: block !important;
  height: 100%;
  width: 100%;
}
.vxe-form--wrapper{
  display: block;
}
.vxe-form--item-row{
  display: block;
}
.vxe-input{
  /* height:"100%"; */
  width:"100%"
}
.vxe-form--item{
  width: 100%;
}
.vxe-form--item-inner{
  height: 100%;
}

.color-red{
  color: red;
}
.vxe-form-item--valid-error-tip{
  height: 20px;
}
.vxe-form-item--valid-error-wrapper {
  height: 18px;
  display: flex;
  align-items: center;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* .el-tabs__nav-wrap:after{
    display: none;
  }
  .el-tabs__nav:last-child{
    margin-right: 0!important;
  } */

  .el-tabs__item{
    padding: 0;
    height: 100%;
  }
  .vxe-pulldown{
    width:'100%';
  }
  .vxe-pulldown--content{
    width:'100%';
  }
  .vxe-pulldown--content{
    height: 100%;
  }

  :root {
  --vxe-ui-form-item-min-height-default: 40px !important;
}
.vxe-form--item{
  min-height: 36px !important;
}

.vxe-form--item-content{
  padding-bottom: 5px !important;
}
/* .Everright-formEditor-TabsLayout .el-tabs__content{
  height: 0px !important;
} */