@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slowFade {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
  }
  
  .slow-fade {
    animation: slowFade 3s ease-in-out;
  }
.list {
    border: 2px dashed #ccc;
    padding: 10px;
    border-radius: 8px;
}

.list-item {
    padding: 10px;
    margin: 5px 0;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: grab;
}
.no-select {
    user-select: none; /* 适用于大多数现代浏览器 */
    -webkit-user-select: none; /* 适用于 Webkit (Chrome, Safari) */
    -moz-user-select: none; /* 适用于 Firefox */
    -ms-user-select: none; /* 适用于旧版 IE/Edge */
  }
  body{
    user-select: none; /* 适用于大多数现代浏览器 */
    -webkit-user-select: none; /* 适用于 Webkit (Chrome, Safari) */
    -moz-user-select: none; /* 适用于 Firefox */
    -ms-user-select: none; /* 适用于旧版 IE/Edge */
  }
  .slow-appear {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    transition-delay: 1s; /* 1 秒后才开始动画 */
  }
  
  .slow-appear.show {
    opacity: 1;
  }


  .move {
    transition: transform 0.5s ease-in-out;
  }
  :focus-visible {
    outline: none !important;
}
.btnGClass{
  top: inherit            !important; 
}
ul, ol {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.formEditor .el-main{
  padding: 0px   !important;
}
.el-main{
  --el-main-padding: 0px !important;
}
.ER-element{
  height: 100%;
}
.h-full{
  height: 100%;
}
.el-form-item{
  /* height: 100%; */
}
li::marker {
  display: none !important;
}
li {
  list-style-type: none;
}

.flex{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-end{
  justify-content: flex-end;
}
.justify-start{
  justify-content: flex-start;
}
.align-center{
  align-items: center;
}
.align-end{
  align-items: flex-end;
}
.align-start{
  align-items: flex-start;
}
.w-full{
  width: 100%;
}

.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}

.bg-red{
  background-color: rgb(100, 100, 100);
}
.bg-white{
  background-color: #fff;
}

.overflow-hidden{
  overflow: hidden;
}