// global transition scss

// 淡进出
.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.28s;
  }

  &-enter,
  &-leave-active {
    opacity: 0;
  }
}

// 左进右出
.fade-transform {
  &-enter-active,
  &-leave-active {
    transition: all 0.5s;
  }

  &-enter {
    opacity: 0;
    transform: translateX(-30px);
  }

  &-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
}

// 右进右出
.riro {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease-out;
  }

  &-enter-from {
    opacity: 0;
    transform: translateX(30px);
  }

  &-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
}

// 上进下出
.uido {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease-out;
  }

  &-enter-from {
    opacity: 0;
    transform: translateY(10%);
  }

  &-leave-to {
    opacity: 0;
    transform: translateY(10%);
  }
}

// 进入和离开动画可以使用不同持续时间和速度曲线
.slide-fade {
  &-enter-active {
    transition: all 0.3s ease-out;
  }

  &-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  }

  &-enter-from,
  &-leave-to {
    transform: translateX(30px);
    opacity: 0;
  }
}

// bounce
.bounce {
  &-enter-active {
    animation: bounce-in 0.5s;
  }

  &-leave-active {
    animation: bounce-in 0.5s reverse;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

// breadcrumb transition
.breadcrumb {
  &-enter-active,
  &-leave-active {
    will-change: opacity, transform;
    transition: all 0.5s;
  }

  &-enter,
  &-leave-active {
    opacity: 0;
    transform: translateX(20px);
  }

  &-move {
    will-change: opacity, transform;
    transition: all 0.5s;
  }

  &-leave-active {
    position: absolute;
  }
}
